# Ignore build folders everywhere
**/bin/
**/obj/

# Ignore nuget cache files
*.nuget.cache
*.assets.json

# Ignore IDE and editor settings
.vs/
.vscode/

# Ignore environment and config files with sensitive data
.env
config.json

# Ignore appsettings files only inside OstaFandy.PL folder
OstaFandy.PL/appsettings.json
OstaFandy.PL/appsettings.*.json

# Ignore Properties folder only inside OstaFandy.PL
OstaFandy.PL/Properties/
